<div class="prose max-w-none">
  <% if @campaign.body.to_s.strip.starts_with?("<") %>
    <%= sanitize(@campaign.body,
        tags: %w[div p span br ul ol li h1 h2 h3 h4 strong em a blockquote code pre img table thead tbody tr th td b u i],
        attributes: %w[href src alt title class style]) %>
  <% else %>
    <%= simple_format(@campaign.body) %>
  <% end %>
</div>

<hr>

<p style="font-size: 12px; color: #666;">
  You are receiving this because you subscribed to the Awareness newsletter.
  <a href="<%= @unsubscribe_url %>">Unsubscribe</a>
</p>
