<p>Thanks for signing up for the Awareness newsletter.</p>

<p>Please confirm your subscription by clicking the link below:</p>

<p>
  <a href="<%= @confirm_url %>">Confirm newsletter subscription</a>
</p>

<p>If you did not request this, you can ignore this message.</p>

<p>
  You can unsubscribe anytime:
  <a href="<%= @unsubscribe_url %>">Unsubscribe</a>
</p>
